.total {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 26vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 95vh;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 0.9375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
    left: 0;
    margin: auto 0.625rem;
}

.header-top a {
    background-color: rgba(0, 0, 0, 0.678);
    margin-bottom: 0.625rem;
    padding: .6rem .5rem;
    border-radius: 0.625rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.header-top a:hover {
    background-color: #334b64c2;
}

.header-top.vertical {
    display: flex;
    flex-direction: column;
}

.header-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bottom span {
    margin-top: 0.625rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    border-radius: 0.625rem;
}

.header-bottom a {
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 0.625rem;
    color: #fff;
    border: none;
    border-radius: .25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.header-bottom a:hover {
    background-color: #555;
}