<div class="total">
    <header class="header-container">
        <div class="header-top vertical">
            <a routerLink="/store">Store</a>
            <a routerLink="/offers">Offers</a>
            <a routerLink="/exchange">Exchange</a>
            <a routerLink="/library">Library</a>
            <a routerLink="/account">Account</a>
        </div>
        <div class="header-bottom">
            <!-- <span>Balance: {{ balance }}</span>
      <button (click)="logout()">Logout</button> -->
            <button class="logout-button" (click)="logout()">Logout</button>
            <!-- <button></button> -->
        </div>
    </header>
</div>