<div class="account-container">

    <div class="account-body">
        <div class="title-account">
            <h1>Your Account </h1>
        </div>
        <div class="account-content">
            <p class="card-text">Username:</p>
            <p class="card-text">Num de Jogos Comprados ou sei la o que mais </p>
            <p class="card-text">Saldo Atual: R$ </p>
            <!-- <button class="btn btn-primary" (click)="addBalance()">Adicionar Saldo</button> -->
            <button class="btn btn-primary">Adicionar Saldo</button>
        </div>
    </div>

</div>