.account-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 20px;
    margin-left: 260px;
    width: 85vw;
    height: 95vh;
    background-color: transparent;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.title-account {
    width: 100%;
    height: 80px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
}

.title-account h1 {
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.account-body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
}

.account-content {
    margin-top: 40px;
}

.card-text {
    font-size: 2em;
    text-align: left;
    margin-left: 200px;
    color: white;
}

.btn {
    margin-top: 80px;
    text-align: center;
    font-size: 2em;
    margin-left: 200px;
    padding: 20px 30px;
    background-image: linear-gradient(rgb(88, 88, 148), rgb(192, 159, 98));
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.301);
    transition: all .2s ease-in-out;
}

.btn:hover {
    background-image: linear-gradient(rgb(169, 169, 201)rgb(212, 204, 188));
}