<body>
    <div class="image-logo">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-login">
        <div class="box">
            <span class="borderLine"></span>
            <div class="form">
                <h2>Sign in</h2>
                <div class="inputBox">
                    <input type="text" id="username" formControlName="username" required="required">
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id="password" formControlName="password" required="required">
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <p>Don't have a account <a routerLink="/register">Register</a></p>
                </div>
                <button type="submit">Login</button>
                <!-- <button type="submit" (click)="login()">Login</button> -->
            </div>
        </div>
    </form>

</body>