* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
}

.image-logo {
    position: relative;
    left: -10%;
    bottom: 1.875rem;
    width: 43.75rem;
    height: 50rem;
    background-image: url(fotoGameStation.png);
    background-position: center center;
    background-size: cover;
    animation: image-tam-animate 2s ease-out forwards,
        image-animate 4s ease-in forwards;
    animation-fill-mode: forwards, forwards;
    animation-delay: .2s, .2s;

}

@keyframes image-tam-animate {
    0% {
        width: 0%;
        height: 0%;
    }

    100% {
        width: 43.75rem;
        height: 50rem;
    }
}

@keyframes image-animate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.box,
.box-register {
    position: relative;
    left: 5%;
    width: 31.25rem;
    height: 34.375rem;
    background-color: #1c1c1c8a;
    border-radius: 0.5rem;
    overflow: hidden;
}

.box::before,
.box-register::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 31.25rem;
    height: 34.375rem;
    background-image: linear-gradient(0deg, transparent, transparent, #13070181, #1307017a, #13070152);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after,
.box-register::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 31.25rem;
    height: 34.375rem;
    background-image: linear-gradient(0deg, transparent, transparent, #13070181, #1307017a, #13070152);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 31.25rem;
    height: 34.375rem;
    background-image: linear-gradient(0deg, transparent, transparent, #dde2e791, #e3e7eb88, #d6dadd80);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 23.75rem;
    height: 26.25rem;
    background-image: linear-gradient(0deg, transparent, transparent, #dde2e791, #e3e7eb88, #d6dadd80);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box form,
.box-register form {
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 3.125rem 2.5rem;
    border-radius: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2,
.box-register form h2 {
    font-size: 2.2em;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
}

.box form .inputBox {
    position: relative;
    width: 25rem;
    margin-top: 3.125rem;
}

.box-register form .inputBox {
    position: relative;
    width: 25rem;
    margin-top: 1.875rem;
}


.box form .inputBox input,
.box-register form .inputBox input {
    position: relative;
    width: 100%;
    padding: 1.25rem 0.625rem 0.625rem;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    transition: .5s;
    z-index: 10;
}

.box form .inputBox span,
.box-register form .inputBox span {
    position: absolute;
    left: 0;
    padding: 1.25rem 0px 0.625rem;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    transition: .5s;
}

.box form .inputBox input:valid~span,
.box form .inputBox input:focus~span,
.box-register form .inputBox input:valid~span,
.box-register form .inputBox input:focus~span {
    color: #fff;
    font-size: 1em;
    transform: translateY(-34px);
}

.box form .inputBox i,
.box-register form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff60;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}

.box form .inputBox input:valid~i,
.box form .inputBox input:focus~i,
.box-register form .inputBox input:valid~i,
.box-register form .inputBox input:focus~i {
    height: 2.75rem;
}

.box form .links {
    display: flex;
    justify-content: center;
    color: #8f8f8f;
    font-size: 1.1em;
    margin: 2.5rem 0;
}

.box-register form .links {
    display: flex;
    justify-content: center;
    color: #8f8f8f;
    font-size: 1.1em;
    margin-top: 1.125rem;
}

.box form .links a {
    color: #8f8f8f;
    text-decoration: none;
    font-weight: 600;
    margin: 0.625rem 0;
    font-size: 1.15em;
}

.box-register form .links a {
    color: #8f8f8f;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    font-size: 1.15em;
}

.box form .links a:hover,
.box-register form .links a:hover {
    color: #fff;
}

.box form input[type="submit"],
.box-register form input[type="submit"] {
    text-align: center;
    border: none;
    outline: none;
    position: relative;
    left: 27%;
    background-color: #fff;
    box-shadow: 0px 0.25rem 1.25rem rgba(255, 255, 255, 0.473);
    padding: 0.75rem 1.875rem;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 0.25rem;
    font-weight: 600;
    width: 11.25rem;
    margin-top: 0.625rem;
}

.box form input[type="submit"]:active,
.box-register form input[type="submit"]:active {
    opacity: .5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-color: #222;
    border: 2px #8f8f8f solid;
    padding: 0.625rem 0.9375rem;
    font-size: 1em;
    color: #9b9a9a;
    border-radius: .5em;
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    margin-left: 24.5%;
}