<!-- Formulário de Login -->
<form class="form-login" *ngIf="isLogin" (ngSubmit)="login()" [formGroup]="loginForm">
    <div>
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username" formControlName="username" required placeholder="Username">
    </div>
    <div>
        <!-- <label for="password">Senha:</label> -->
        <input type="password" id="password" formControlName="password" required placeholder="Password">
    </div>
    <button class="btn-login" type="button">Login</button>
    <button class="btn-register toggle-button" type="button" (click)="toggleForm()">Register</button>
</form>

<!-- Formulário de Registro -->
<form *ngIf="!isLogin" (ngSubmit)="register()" [formGroup]="registerForm" class="form-register">
    <div>
        <!-- <label for="name">Usuário:</label> -->
        <input type="text" id="name" formControlName="name" required placeholder="Username">
    </div>
    <div>
        <!-- <label for="password">Senha:</label> -->
        <input type="password" id="password" formControlName="password" required placeholder="Password">
    </div>
    <div class="user-options-div">
        <label for="userType">Tipo de usuário:</label>
        <select id="userType" formControlName="userType">
            <option class="dev" value="dev">Developer</option>
            <option class="user" value="user">Gamer / User</option>
        </select>
    </div>
    <button class="btn-register" type="button">Register</button>
    <button type="button" (click)="backToLogin()" class="back-button">Back to Login</button>
</form>