.store-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 250px;
    margin-top: .8em;
    left: .3em;
    bottom: .3em;
    width: 85vw;
    height: 95vh;
    background-color: transparent;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
}

.title-store {
    width: 100%;
    height: 8%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}


.title-store h1 {
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.store-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 10%;
    background-color: red;
    border-radius: 15px;
}

.store-nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    justify-content: right;
    margin-right: .2em;
    padding: 10px;
    height: 95vh;
    box-sizing: border-box;
    width: 300px;
}

.store-nav input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 15px;
    color: white;
}

.genres {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    height: 95%;
}

.genre-title {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.genre-options {
    margin-left: 20px;
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 1.3em;
    text-align: left;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 13px;
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .5em;
    height: .5em;
    background-color: rgb(108, 108, 138);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:hover {
    border: 1px solid #c0ccda;
}

input[type="checkbox"]:checked:hover::before {
    background-color: #c0ccda;
}