.manager-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.manager-body {
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0.625rem;
    margin-right: 1.5625rem;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 0.9375rem;
    overflow-y: auto;
}

.title {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 0.625rem;
    margin-top: 1.875rem;
    padding: 0;
    box-sizing: border-box;
}

.title h2 {
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}