<div class="store-container">

    <div class="store-body">
        <div class="title-store">
            <h1>Store</h1>
        </div>
        <div class="store-content">
            <ul>
                <!-- dentro da div que engloba {{game}} coloca os jogos que estao para venda, imagem, preço nome...  -->
                <!-- componente {{game}} -> nova aba que mostrara infos do jogo  -->
                <li *ngFor="let game of GamesStore; index as i">
                    <a routerLink="/{{game}}">
                        <div class="gameInStore">
                            {{game}}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="store-nav">
        <input type="text" placeholder="Search">
        <div class="genres">
            <legend class="genre-title">Genres</legend>
            <label class="genre-options"><input type="checkbox" name="Action" value="action">Action</label>
            <label class="genre-options"><input type="checkbox" name="Adventure" value="adventure">Adventure</label>
            <label class="genre-options"><input type="checkbox" name="Puzzle" value="puzzle">Puzzle</label>
        </div>
    </div>

</div>