<div class="store-container">
    <app-header></app-header>
    <div class="store-body">
        <div class="title-store">
            <h1>Store</h1>
        </div>
        <div class="store-content">
            <ul>
                <div class="grid-container">
                    <!-- pega cada item da lista gameStore e manda para games  -->
                    <li *ngFor="let game of filteredGames">
                        <div>
                            <app-games [game]="game"></app-games>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="store-nav">
        <input type="text" placeholder="Search Titles" (input)="search($event)">
        <div class="genres">
            <legend class="genre-title">Genres</legend>
            <label class="genre-options"><input type="checkbox" name="rpg" value="rpg"
                    (change)="toggleGenre('rpg')">rpg</label>
            <label class="genre-options"><input type="checkbox" name="fps" value="fps"
                    (change)="toggleGenre('fps')">fps</label>
            <label class="genre-options"><input type="checkbox" name="puzzle" value="puzzle"
                    (change)="toggleGenre('puzzle')">puzzle</label>
            <label class="genre-options"><input type="checkbox" name="online" value="online"
                    (change)="toggleGenre('online')">online</label>
        </div>
    </div>
</div>