.header-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: .3em;
    left: .3em;
    bottom: .3em;
    width: 230px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    box-sizing: border-box;

}

.header-top a {
    background-color: rgba(0, 0, 0, 0.678);
    margin-bottom: 10px;
    padding: .3em .5em;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.header-top a:hover {
    background-color: #334b64c2;
}

.header-top.vertical {
    display: flex;
    flex-direction: column;
}

.header-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bottom span {
    margin-top: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    border-radius: 10px;
}

.header-bottom button {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.header-bottom button:hover {
    background-color: #555;
}