<button (click)="verDetails()" *ngIf="!showDetails">
    <div class="card-game">

        <!-- <div class="game-imagens" style="background-image: url('cs-go.jpeg')"></div> -->
        <div class="game-imagens" style="display: flex; justify-content: center; align-items: center;">
            <img src="cs-go.jpeg" style="object-fit: cover; width: 100%; height: 100%;">
        </div>

        <h3 class="game-nome">{{game.nome}}</h3>

        <div class="game-preco">R$ {{game.preco.toFixed(2)}}</div>
    </div>
</button>

<div class="tudo">
    <div class="total-details" *ngIf="showDetails">
        <div class="container-details">
            <button class="link-back-details" (click)="semDetails()">
                <div class="back-button-details">Back</div>
            </button>

            <h2 class="game-nome-details">{{game.nome}}</h2>

            <!-- <div class="game-imagens-details" [style.background-image]="'url(GameStation/cs-go.jpeg)'"></div> -->
            <div class="game-imagens-details"></div>


            <div class="grid-details">
                <div class="div-descricao-details">
                    <p class="game-descricao-details">descrição do jogo Contrary to popular belief, Lorem Ipsum is not
                        simply random
                        text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000
                        years
                        old.</p>
                </div>

                <div class="game-column2-details">

                    <div class="textos-details">
                        <p class="game-preco-details">R$ {{game.preco.toFixed(2)}}</p>
                        <p class="game-avaliacoes-details">Avaliação: {{game.avaliacao.toFixed(1)}}/10</p>
                    </div>

                    <div class="game-buttons-details">
                        <button class="buy-button-details" (click)="comprarJogo()">comprar</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>