<div class="account-container">
    <app-header></app-header>

    <div class="account-body">
        <div class="title-account">
            <h1>Your Account </h1>
        </div>
        <div class="account-content">
            <p class="card-text">Username:</p>
            <p class="card-text">Num de Jogos Comprados ou sei la o que mais </p>
            <p class="card-text">Saldo Atual: R$ </p>
            <!-- <button class="btn btn-primary" (click)="addBalance()">Adicionar Saldo</button> -->
            <button class="btn-add-saldo" (click)="adicionarSaldo()">Adicionar Saldo</button>

            <form *ngIf="mostrarFormulario" (ngSubmit)="adicionar(form.value)" #form="ngForm" novalidate
                class="form-container">
                <h2>Adicionar Saldo</h2>
                <div class="form-row">
                    <div class="form-group input-group valor">
                        <label for="valor">Valor</label>
                        <input type="text" id="valor" name="valor" ngModel class="form-control valor"
                            placeholder="00,00">
                    </div>
                    <div class="form-group input-group nome">
                        <label for="nomeCartao">Nome no Cartão</label>
                        <input type="text" id="nomeCartao" name="nomeCartao" ngModel class="form-control nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group input-group numero">
                        <label for="numeroCartao">Número do Cartão</label>
                        <input type="text" id="numeroCartao" name="numeroCartao" ngModel class="form-control numero"
                            placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="form-group input-group validade">
                        <label for="dataVencimento">Validade</label>
                        <input type="text" id="dataVencimento" name="dataVencimento" ngModel class="form-control data"
                            placeholder="mm/aa">
                    </div>
                    <div class="form-group input-group cvv">
                        <label for="cvv">CVV</label>
                        <input type="text" id="cvv" name="cvv" ngModel class="form-control cvv" placeholder="000">
                    </div>
                </div>
                <div class="button-group input-group">
                    <button type="submit" class="btn-adicionar btn-primary">Adicionar</button>
                    <button type="button" class="btn-cancelar btn-secondary" (click)="cancelar()">Cancelar</button>
                </div>
            </form>

        </div>
    </div>

</div>