<div class="store-container">

    <div class="store-body">
        <div class="title-store">
            <h1>To Exchange</h1>
        </div>
        <div class="store-content">
            <ul>
                <!-- dentro da div que engloba {{game}} coloca os jogos que estao para troca: imagem, preço nome...  -->
                <li *ngFor="let game of GamesExchange; index as i">
                    <div class="gameInStore">
                        {{game}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="store-nav">
        <input type="text" placeholder="Search">
        <div class="genres">
            <legend class="genre-title">Genres</legend>
            <label class="genre-options"><input type="checkbox" name="Action" value="action">Action</label>
            <label class="genre-options"><input type="checkbox" name="Adventure" value="adventure">Adventure</label>
            <label class="genre-options"><input type="checkbox" name="Puzzle" value="puzzle">Puzzle</label>
        </div>
    </div>

</div>