.manager-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.manager-body {
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0.625rem;
    margin-right: 1.5625rem;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 0.9375rem;
    overflow-y: auto;
}

.title {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    padding: 0;
    box-sizing: border-box;
}

.title h1 {
    font-size: 3rem;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff;
}

.title h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 1.875rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.inputBox span {
    margin-bottom: 0.5rem;
    color: #ffffff9f;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.4375rem;
    font-weight: bolder;
}

input[type="text"],
input[type="submit"],
textarea {
    width: 100%;
    /* Ajuste a largura conforme necessário */
    text-align: center;
    margin-bottom: 0.5rem;
    background-color: transparent;
    border: 2px solid #ffffff8f;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.25rem;
}

input[type="submit"] {
    cursor: pointer;
    width: 30%;
    background-color: #524848d2;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 0.375rem;
    padding: 0.9375rem 0;
}

input[type="submit"]:hover {
    background-color: #7e6e6ed2;
}