<div class="container-details">

    <a class="link-back" routerLink="/exchange">
        <div class="back-button">Back</div>
    </a>

    <h2 class="game-nome">Titulo jogo</h2>

    <div class="game-imagens">Imagens jogo</div>

    <div class="grid">
        <div class="div-descricao">
            <p class="game-descricao">descrição do jogo Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
                1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
        </div>

        <div class="game-column2">

            <div class="game-preco">
                <p>preco original</p>
            </div>

            <button class="exchange-button">Solicitar Troca</button>

        </div>

    </div>

</div>