<div class="manager-container">
    <app-header-manager></app-header-manager>
    <div class="manager-body">
        <div class="title-store">
            <h1>Hi Manager!</h1>
            <h2>Pending Games</h2>
        </div>
        <div class="manager-content">
            <ul>
                <div class="grid-container">
                    <!-- pega cada item da lista gameStore e manda para games  -->
                    <li *ngFor="let game of JogosPendentes">
                        <div>
                            <app-games-manager [game]="game"></app-games-manager>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>