.manager-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.manager-body {
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0.625rem;
    margin-right: 1.5625rem;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 0.9375rem;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, 17.5rem));
    grid-auto-rows: 18.75rem;
    grid-auto-flow: row;
    gap: auto;
    padding-right: 0.625rem;
}

.title-store {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    padding: 0;
    box-sizing: border-box;
}

.title-store h1 {
    font-size: 3em;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff;
}

.title-store h2 {
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    padding: 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    text-decoration: none;
}