.total {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.manager-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0;
    margin: auto;
    margin-top: 1%;
    margin-left: 260px;
    width: 85vw;
    height: 95vh;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgba(172, 31, 31, 0);
    overflow-y: auto;
}

.manager-body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.651);
    border-radius: 15px;
    overflow-y: auto;
}

.title {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}


.title h2 {
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}