.manager-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.manager-body {
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    overflow-y: auto;
}

.title {
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}


.title h2 {
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}