<div class="total">
    <header class="header">
        <div class="header-top vertical">
            <a routerLink="/dev-interface">
                Add New Game</a>
            <a routerLink="/feedback-dev">Feedbacks</a>
            <a routerLink="/games-list-dev">Your Games</a>
            <a routerLink="/account-dev">Account</a>
        </div>
        <div class="header-bottom">

            <!-- <a routerLink="/login">Logout</a> -->
            <button class="logout-button" (click)="logout()">Logout</button>
        </div>
    </header>
</div>