<div class="total">
    <header class="header">
        <div class="header-top vertical">
            <a routerLink="/dev-interface">
                Add New Game</a>
            <a routerLink="/feedback-dev">Feedbacks</a>
            <a routerLink="/historico-dev">Transactions</a>
            <a routerLink="/games-list-dev">Your Games</a>
        </div>
        <div class="header-bottom">
            <span>Balance</span>
            <a routerLink="/login">Logout</a>
        </div>
    </header>
</div>